USE [master]
GO
/****** Object:  Database [Equipment]    Script Date: 5/23/2024 9:03:43 AM ******/
CREATE DATABASE [Equipment]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Equipment', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Equipment.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Equipment_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Equipment_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Equipment].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Equipment]
GO
/****** Object:  User [CW01\uig60644]    Script Date: 5/23/2024 9:03:43 AM ******/
CREATE USER [CW01\uig60644] FOR LOGIN [CW01\uig60644] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [1222]    Script Date: 5/23/2024 9:03:43 AM ******/
CREATE USER [1222] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [CW01\uig60644]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [CW01\uig60644]
GO
ALTER ROLE [db_datareader] ADD MEMBER [1222]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [1222]
GO
/****** Object:  Table [dbo].[cable]    Script Date: 5/23/2024 9:03:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cable](
	[CableID] [int] IDENTITY(1,1) NOT NULL,
	[cables] [nvarchar](50) NOT NULL,
	[quantity] [int] NULL,
 CONSTRAINT [PK_cable_1] PRIMARY KEY CLUSTERED 
(
	[CableID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[docking_history]    Script Date: 5/23/2024 9:03:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[docking_history](
	[HistoryID] [int] IDENTITY(1,1) NOT NULL,
	[DockingID] [int] NOT NULL,
	[Model] [nvarchar](50) NULL,
	[Code_SN] [nvarchar](50) NULL,
	[Received_date] [nvarchar](50) NULL,
	[Condition] [nvarchar](50) NULL,
	[Remarks] [nvarchar](50) NULL,
	[Owner] [nvarchar](50) NULL,
	[UpdatedBy] [nvarchar](50) NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_docking_history] PRIMARY KEY CLUSTERED 
(
	[HistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[docking_sys]    Script Date: 5/23/2024 9:03:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[docking_sys](
	[DockingID] [int] IDENTITY(1,1) NOT NULL,
	[Model] [nvarchar](50) NULL,
	[Code_SN] [nvarchar](50) NULL,
	[Received_date] [nvarchar](50) NULL,
	[Condition] [nvarchar](50) NULL,
	[Remarks] [nvarchar](50) NULL,
	[Owner] [nvarchar](50) NULL,
 CONSTRAINT [PK_docking_sys] PRIMARY KEY CLUSTERED 
(
	[DockingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[headphone]    Script Date: 5/23/2024 9:03:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[headphone](
	[hID] [int] IDENTITY(1,1) NOT NULL,
	[Model] [nvarchar](50) NULL,
	[Code_SN] [nvarchar](50) NULL,
	[Received_date] [nvarchar](50) NULL,
	[Condition] [nvarchar](50) NULL,
	[Remarks] [nvarchar](50) NULL,
	[Owner] [nvarchar](50) NULL,
 CONSTRAINT [PK_headphone] PRIMARY KEY CLUSTERED 
(
	[hID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[keyboard]    Script Date: 5/23/2024 9:03:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[keyboard](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Model] [nvarchar](50) NULL,
	[Code_SN] [nvarchar](50) NULL,
	[Received_date] [nvarchar](50) NULL,
	[Condition] [nvarchar](50) NULL,
	[Remarks] [nvarchar](50) NULL,
	[Owner] [nvarchar](50) NULL,
 CONSTRAINT [PK_keyboard] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[laptop]    Script Date: 5/23/2024 9:03:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[laptop](
	[LaptopID] [int] IDENTITY(1,1) NOT NULL,
	[Model] [nvarchar](50) NULL,
	[Code_SN] [nvarchar](50) NULL,
	[Received_date] [nvarchar](50) NULL,
	[Condition] [nvarchar](50) NULL,
	[Remarks] [nvarchar](50) NULL,
	[Owner] [nvarchar](50) NULL,
 CONSTRAINT [PK_laptop] PRIMARY KEY CLUSTERED 
(
	[LaptopID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[laptop_history]    Script Date: 5/23/2024 9:03:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[laptop_history](
	[HistoryID] [int] IDENTITY(1,1) NOT NULL,
	[LaptopID] [int] NOT NULL,
	[Model] [nvarchar](50) NULL,
	[Code_SN] [nvarchar](50) NULL,
	[Received_date] [nvarchar](50) NULL,
	[Condition] [nvarchar](50) NULL,
	[Remarks] [nvarchar](50) NULL,
	[Owner] [nvarchar](50) NULL,
	[UpdatedBy] [nvarchar](50) NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_laptop_history] PRIMARY KEY CLUSTERED 
(
	[HistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[monitor]    Script Date: 5/23/2024 9:03:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[monitor](
	[MonitorID] [int] IDENTITY(1,1) NOT NULL,
	[Model] [nvarchar](50) NULL,
	[Code_SN] [nvarchar](50) NULL,
	[Received_date] [nvarchar](50) NULL,
	[Condition] [nvarchar](50) NULL,
	[Remarks] [nvarchar](50) NULL,
	[Owner] [nvarchar](50) NULL,
 CONSTRAINT [PK_monitor] PRIMARY KEY CLUSTERED 
(
	[MonitorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mouse]    Script Date: 5/23/2024 9:03:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mouse](
	[MouseID] [int] IDENTITY(1,1) NOT NULL,
	[Model] [nvarchar](50) NULL,
	[Code_SN] [nvarchar](50) NULL,
	[Received_date] [nvarchar](50) NULL,
	[Condition] [nvarchar](50) NULL,
	[Remarks] [nvarchar](50) NULL,
	[Owner] [nvarchar](50) NULL,
 CONSTRAINT [PK_mouse] PRIMARY KEY CLUSTERED 
(
	[MouseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 5/23/2024 9:03:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userID] [nvarchar](50) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[cable] ON 

INSERT [dbo].[cable] ([CableID], [cables], [quantity]) VALUES (1, N'HDMI', 0)
INSERT [dbo].[cable] ([CableID], [cables], [quantity]) VALUES (2, N'Display Port', 5)
INSERT [dbo].[cable] ([CableID], [cables], [quantity]) VALUES (3, N'VGA', 6)
SET IDENTITY_INSERT [dbo].[cable] OFF
GO
SET IDENTITY_INSERT [dbo].[docking_history] ON 

INSERT [dbo].[docking_history] ([HistoryID], [DockingID], [Model], [Code_SN], [Received_date], [Condition], [Remarks], [Owner], [UpdatedBy], [UpdatedAt]) VALUES (1, 13, N'Try', N'', NULL, N'Good', N'', N'', N'Ching Yee', CAST(N'2024-05-21T16:54:51.570' AS DateTime))
INSERT [dbo].[docking_history] ([HistoryID], [DockingID], [Model], [Code_SN], [Received_date], [Condition], [Remarks], [Owner], [UpdatedBy], [UpdatedAt]) VALUES (2, 13, N'Try', N'-', N'2024-05-21', N'Good', N'-', N'-', N'Ching Yee', CAST(N'2024-05-21T17:15:51.740' AS DateTime))
SET IDENTITY_INSERT [dbo].[docking_history] OFF
GO
SET IDENTITY_INSERT [dbo].[docking_sys] ON 

INSERT [dbo].[docking_sys] ([DockingID], [Model], [Code_SN], [Received_date], [Condition], [Remarks], [Owner]) VALUES (1, N'HP 2013 UltraSlim Docking', N'5CG845WB2T', NULL, N'Good', N'-', N'Bernard')
INSERT [dbo].[docking_sys] ([DockingID], [Model], [Code_SN], [Received_date], [Condition], [Remarks], [Owner]) VALUES (2, N'DELL 7-in-1 Multiport Adapter', N'10828617E53F', NULL, N'Good', N'New', N'Rozmadi')
INSERT [dbo].[docking_sys] ([DockingID], [Model], [Code_SN], [Received_date], [Condition], [Remarks], [Owner]) VALUES (3, N'HP 2013 UltraSlim Docking', N'5CG913XLRQ', NULL, N'Good', N'', N'Yen Ling')
SET IDENTITY_INSERT [dbo].[docking_sys] OFF
GO
SET IDENTITY_INSERT [dbo].[headphone] ON 

INSERT [dbo].[headphone] ([hID], [Model], [Code_SN], [Received_date], [Condition], [Remarks], [Owner]) VALUES (1, N'Jabra HSC016                                      ', N'00272131561                                       ', N'2022-09-01                                        ', N'Good                                              ', NULL, N'Yen Ling                                          ')
INSERT [dbo].[headphone] ([hID], [Model], [Code_SN], [Received_date], [Condition], [Remarks], [Owner]) VALUES (2, N'Logitech A-00091                                  ', N'1833GXK05608                                      ', NULL, N'Good                                              ', NULL, N'Bernard                                           ')
INSERT [dbo].[headphone] ([hID], [Model], [Code_SN], [Received_date], [Condition], [Remarks], [Owner]) VALUES (3, N'Jabra HSC016                                      ', N'00272514882                                       ', N'2022-09-01                                        ', N'Good                                              ', NULL, N'Bernard                                           ')
SET IDENTITY_INSERT [dbo].[headphone] OFF
GO
SET IDENTITY_INSERT [dbo].[keyboard] ON 

INSERT [dbo].[keyboard] ([ID], [Model], [Code_SN], [Received_date], [Condition], [Remarks], [Owner]) VALUES (1, N'HP KBAR211                                        ', N'BEXHP0BTJBLJG                                     ', NULL, N'Good                                              ', N'From IT Soon Li                                   ', N'Meng Yiau')
INSERT [dbo].[keyboard] ([ID], [Model], [Code_SN], [Received_date], [Condition], [Remarks], [Owner]) VALUES (2, N'HP KBAR211                                        ', N'BEXHP0BTJB9LNX                                    ', NULL, N'Good                                              ', N'From IT Soon Li                                   ', N'Xin Hui                                           ')
SET IDENTITY_INSERT [dbo].[keyboard] OFF
GO
SET IDENTITY_INSERT [dbo].[laptop] ON 

INSERT [dbo].[laptop] ([LaptopID], [Model], [Code_SN], [Received_date], [Condition], [Remarks], [Owner]) VALUES (1, N'Dell Notebook                                     ', N'PYL2583W                                          ', N'2022                                              ', N'Good                                              ', N'PO#5810472699                                     ', N'Bernard                                           ')
INSERT [dbo].[laptop] ([LaptopID], [Model], [Code_SN], [Received_date], [Condition], [Remarks], [Owner]) VALUES (2, N'Dell Notebook                                     ', N'PYL2583W                                          ', N'2022                                              ', N'Good                                              ', N'PO#5810472699                                     ', N'Rozmadi                                           ')
INSERT [dbo].[laptop] ([LaptopID], [Model], [Code_SN], [Received_date], [Condition], [Remarks], [Owner]) VALUES (3, N'HP Elitebook                                      ', N'PYL2437W                                          ', N'2020                                              ', N'Good                                              ', N'PO#5803407368                                     ', N'Yen Ling                                          ')
SET IDENTITY_INSERT [dbo].[laptop] OFF
GO
SET IDENTITY_INSERT [dbo].[laptop_history] ON 

INSERT [dbo].[laptop_history] ([HistoryID], [LaptopID], [Model], [Code_SN], [Received_date], [Condition], [Remarks], [Owner], [UpdatedBy], [UpdatedAt]) VALUES (1, 17, N'Test for update', N'-', N'2000', N'Good', N'-', N'-', N'Ching Yee', CAST(N'2024-05-21T15:36:19.290' AS DateTime))
INSERT [dbo].[laptop_history] ([HistoryID], [LaptopID], [Model], [Code_SN], [Received_date], [Condition], [Remarks], [Owner], [UpdatedBy], [UpdatedAt]) VALUES (2, 16, N'TestmodelName', N'', N'2024', N'Good', N'', N'', N'Ching Yee', CAST(N'2024-05-21T16:24:47.033' AS DateTime))
INSERT [dbo].[laptop_history] ([HistoryID], [LaptopID], [Model], [Code_SN], [Received_date], [Condition], [Remarks], [Owner], [UpdatedBy], [UpdatedAt]) VALUES (3, 16, N'123', N'-', N'2024', N'Good', N'-', N'-', N'Ching Yee', CAST(N'2024-05-23T08:42:09.020' AS DateTime))
SET IDENTITY_INSERT [dbo].[laptop_history] OFF
GO
SET IDENTITY_INSERT [dbo].[monitor] ON 

INSERT [dbo].[monitor] ([MonitorID], [Model], [Code_SN], [Received_date], [Condition], [Remarks], [Owner]) VALUES (1, N'Elite E190i                                       ', N'CN45510HNN                                        ', NULL, N'Good                                              ', NULL, N'Bernard                                           ')
INSERT [dbo].[monitor] ([MonitorID], [Model], [Code_SN], [Received_date], [Condition], [Remarks], [Owner]) VALUES (2, N'HP E24iG4                                         ', N'CNK1081WCH                                        ', NULL, N'Good                                              ', NULL, N'Bernard                                           ')
INSERT [dbo].[monitor] ([MonitorID], [Model], [Code_SN], [Received_date], [Condition], [Remarks], [Owner]) VALUES (3, N'HP E243i                                          ', N'6CM82520H7                                        ', NULL, N'Good                                              ', NULL, N'Bernard                                           ')
SET IDENTITY_INSERT [dbo].[monitor] OFF
GO
SET IDENTITY_INSERT [dbo].[mouse] ON 

INSERT [dbo].[mouse] ([MouseID], [Model], [Code_SN], [Received_date], [Condition], [Remarks], [Owner]) VALUES (1, N'MSU-1158                                          ', N'-', NULL, N'', N'-', N'Bernard   ')
INSERT [dbo].[mouse] ([MouseID], [Model], [Code_SN], [Received_date], [Condition], [Remarks], [Owner]) VALUES (2, N'MSU-1158                                          ', NULL, NULL, N'Good                                              ', NULL, N'Rozmadi   ')
INSERT [dbo].[mouse] ([MouseID], [Model], [Code_SN], [Received_date], [Condition], [Remarks], [Owner]) VALUES (3, N'HP                                                ', NULL, NULL, N'Good                                              ', NULL, N'Yen Ling  ')
SET IDENTITY_INSERT [dbo].[mouse] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([id], [userID], [username], [password]) VALUES (1, N'uig60644', N'Jie You', N'Conti12345')
INSERT [dbo].[Users] ([id], [userID], [username], [password]) VALUES (2, N'uig60643', N'Ching Yee', N'Conti12345')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[docking_history] ADD  CONSTRAINT [DF__docking_hi__Updat__41B8C09B]  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[laptop_history] ADD  CONSTRAINT [DF__laptop_hi__Updat__41B8C09B]  DEFAULT (getdate()) FOR [UpdatedAt]
GO
USE [master]
GO
